.dark {
  color: #1aa3b1;
  fill: #1aa3b1;
  border-color: #1aa3b1;
}
.darkBack {
  background-color: #1aa3b1;
}
.darkLink {
  color: #1aa3b1;
  fill: #1aa3b1;
  border-color: #1aa3b1;
}
.darkLinkBack {
  background-color: #1aa3b1;
}
.reverse {
  color: #fff;
  fill: #fff;
}
.reverseBack {
  background-color: #fff;
}
.highlight {
  color: #ddee55;
  fill: #ddee55;
}
.highlightBack {
  background-color: #ddee55;
}
.alternate {
  color: #bf5a00;
  fill: #bf5a00;
}
.alternateBack {
  background-color: #bf5a00;
}
a {
  color: #1aa3b1;
  fill: #1aa3b1;
}
a:hover, a:focus {
  color: #00c3d7;
}
h1 a.active:hover, h1 a.active:focus {
  background-color:#fff;
  color: #1aa3b1;
  fill: #1aa3b1;
}
button.highlightBack:hover, button.highlightBack:focus {
  background-color: #ddee55;
}
