.DS_Store
node_modules/
node/
dist/
target/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
# TODO Cleanup package versions, cf. https://github.com/dukecon/dukecon_pwa/issues/32
package-lock.json

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml
