.DS_Store
.npm/
.npmrc
node_modules/
node/
dist/
target/
*.err
*.log
test/unit/coverage
test/e2e/reports
.docker
.mvn/.gradle-enterprise/

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml
